<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container mt-1 mb-1">

    <a class="navbar-brand", href="<%= root_path %>">
      <%= image_tag("logo.png", class: "d-inline-block align-bottom", id: "logo-display") %>
      <strong id="logo-text">TeamingUp</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if current_user %>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          
          <% if current_user.is_admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Project functions
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to "<i class='fa fa-users'></i> Add members".html_safe, new_member_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "<i class='fa fa-briefcase'></i> Edit plan".html_safe, edit_plan_path, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% end %>
          
          <li>
            <%= link_to 'logout', destroy_user_session_path, method: :delete, class: "btn", id: "button-format-orange" %>
          </li>
        </ul>

      </div>

    <% else %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Login', new_user_session_path, class: "btn", id: "button-format-orange" %></li>
      </ul>
    
    <% end %>

  </div>
</nav>