<div class="container mt-5">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col">
      
      <strong class="display-6"><%= @project.name %></strong>
      <div class="lead mt-3"><%= tenant_name(@project.tenant_id) %></div>
    
    </div>
  </div>

  <div class="row mt-4 mb-2">
    <div class="col">
    
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
            <th scope="col">Expected completion date</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @project.name %></td>
            <td><%= @project.details %></td>
            <td><%= @project.expected_completion_date %></td>
          </tr>
        </tbody>
      </table>
    
    </div>
  </div>

  <%= link_to 'Edit project users', users_tenant_project_path(tenant_id: @project.tenant_id, id: @project.id), class: "btn", id: "button-format-orange" %>
  <%= link_to 'Edit', edit_tenant_project_path(project: @project, tenant: @project.tenant_id), class: "btn", id: "button-format-grey" %>
  <%= link_to 'Back', root_path, class: "btn", id: "button-format-grey" %> |
  <%= link_to 'Delete', tenant_project_path(project: @project, tenant: @project.tenant_id), class: "btn", id: "button-format-red", method: :delete, data: { confirm: 'Are you sure?' } %>

  <div class="container mt-5 mb-5 p-4" id="artifacts-container">
    <div class="row mt-4 mb-4">
      <div class="col">
        <div class="lead"><strong>Artifacts</strong></div>
        <%= render "artifacts/list", artifacts: @project.artifacts %>
      </div>
    </div>
  </div>

</div>