<div class="row">
  <div class="col">

    <p id="notice"><%= notice %></p>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Key</th>
          <th>Project</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% artifacts.each do |artifact| %>
          <tr>
            <td><%= link_to artifact.name, artifact_path(artifact), class: "text-decoration-none" %></td>
            <td><%= s3_link Tenant.current_tenant_id, artifact.key %></td>
            <td><%= artifact.project.name %></td>
            <td><%= link_to 'Show', artifact, class: "btn btn-sm", id: "button-format-grey" %></td>
            <td><%= link_to 'Destroy', artifact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm", id: "button-format-grey" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Artifact', new_artifact_path(project_id: @project.id), class: "btn", id: "button-format-orange" %>
  

  </div>
</div>